.green {
  color: green;
}
.red {
  color: red;
}

@media screen and (min-width: 76.25em) {
    .md-grid {
        max-width: 90%;
    }
    .md-sidebar--primary {
        width: 20vw;
        max-width: 30rem;
    }
    .md-sidebar--primary .md-sidebar__scrollwrap {
        width: 100%;
    }
}
.md-nav__link .md-ellipsis,
.md-ellipsis {
    max-width: none !important;
    overflow: visible !important;
    text-overflow: clip !important;
}
.md-nav__link {
    max-width: none !important;
    overflow: visible !important;
}
.md-nav__item,
.md-nav__list {
    overflow: visible !important;
    max-width: none !important;
}